/* 


.item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
}
.layer{
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50%;
    background-color: #fff;
    text-align: center;
    transition: bottom 1s;

}
.item:hover .layer{
    bottom: 15px;
}
#boxcontainer{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.019);
    display: none;
    justify-content: center;
    align-items: center;
} 
.innerBox{
    width: 50%;
    height: 500px;
background-image: url(../photo/3.jpg);
background-size: cover;   
}
.innerBox i{
    cursor: pointer;
} */

img{
    height: 150px;
}























