:root {
    --main-color: 0, 120, 255;
    --transition-anchor: 0.3s;
    --transition-icon: 0.6s;
}
body {
    background-color: #f5f5f5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
}
.navbar .navbar-brand {
    font-weight: 600;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar button[aria-expanded] {
    border: none;
    transition: var(--transition-anchor);
}
.navbar button[aria-expanded="true"] {
    border: 0.2rem solid #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:is(.active, .show),
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(var(--main-color));
    transition: var(--transition-anchor);
}
.navbar-dark .navbar-nav .nav-link.nav-link:is(.active, .show):before,
.navbar-dark .navbar-nav .nav-link::before {
    content: "";
    width: 70%;
    height: 0.2rem;
    background-color: rgb(var(--main-color));
    display: block;
    transform: translateY(1.8rem);
    transition: var(--transition-anchor);
}
.navbar-dark .navbar-nav .nav-link::before {
    width: 0;
}
.navbar-dark .navbar-nav .nav-link:hover:before {
    width: 70%;
}
.dropdown-menu {
    min-width: 13rem;
}
.deep-dropdown-item {
    transition: padding var(--transition-anchor);
}
.deep-dropdown-item:hover {
    padding-left: 0.6rem;
    color: rgb(var(--main-color)) !important;
}
.deep-dropdown-menu {
    background-color: #fff;
    transition: var(--transition-anchor);
}
@media screen and (min-width: 992px) {
    .deep-dropdown-menu {
        position: absolute;
        top: 0;
        right: 99%;
        transform: scaleX(0);
        transform-origin: top right;
        padding: 20px;
        max-height: 9.5rem;
        text-align: center;
        white-space: nowrap;
    }
    .deep-dropdown-toggler:hover + .deep-dropdown-menu {
       transform: scaleX(1);
    }
}
@media screen and (max-width: 991px) {
    .navbar-dark .navbar-nav .nav-link {
        width: fit-content !important;
    }
    .deep-dropdown-menu {
        position: static !important;
        height: 0;
        background-color: #f5f5f5;
    }
    .deep-dropdown-toggler:hover + .deep-dropdown-menu {
        height: 9.5rem;
    }
}
#home.bg-style {
    background-image: url("../img/hero-bg.jpg");
}
#home .content {
    text-align: center;
}
#home .content h1 {
    font-size: 4.5rem;
}
#home .content .typed::after {
    content: "d";
    font-size: 2.5rem;
    font-weight: 600;
    padding-right: 0.4rem;
    border-right: 0.4rem solid #fff;
    animation: typed 15s linear infinite;
}
@media screen and (max-width: 768px) {
    #home .content h1 {
        font-size: 2.5rem;
    }
    #home .content .typed::after {
        font-size: 2rem;
    }
}
#about .container {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
#about .personal-data ul li {
    font-size: 1rem;
    width: fit-content;
}
#about .personal-data ul li span {
    font-size: 1.1rem;
    font-weight: 600;
}
#about .skills h2 {
    font-size: 1.3rem;
}
#about .skills div h4 {
    font-weight: normal;
    font-size: 1rem;
}
#about .skills .prg-bar {
    height: 0.7rem;
    background-image: linear-gradient(to right, rgb(var(--main-color)) 85%, rgba(var(--main-color), 0.2) 85%);
}
#about .skills div:nth-of-type(2) .prg-bar {
    background-image: linear-gradient(to right, rgb(var(--main-color)) 75%, rgba(var(--main-color), 0.2) 75%);
}
#about .skills div:nth-of-type(3) .prg-bar {
    background-image: linear-gradient(to right, rgb(var(--main-color)) 50%, rgba(var(--main-color), 0.2) 50%);
}
#about .skills div:last-of-type .prg-bar {
    background-image: linear-gradient(to right, rgb(var(--main-color)) 90%, rgba(var(--main-color), 0.2) 90%);
}
#about .about-info h2::after,
#contact h2::after {
    content: "";
    width: 5rem;
    height: 0.25rem;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 120%;
    left: 0;
}
#about .about-info p {
    line-height: 1.5;
    color: #4e4e4e;
    font-size: 1.25rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    #about .about-info h2::after {
        left: 50%;
        transform: translateX(-50%);
    }
}
#services .service .inner {
    border-radius: 0.6rem;
    background-color: #fff;
}
#services .service .icon {
    width: 7.5rem;
    height: 7.5rem;
    border: 0.6rem solid rgb(var(--main-color));
    transition: var(--transition-icon);
}
#services .service .icon svg {
    font-size: 2.5rem;
    color: rgb(var(--main-color));
    transition: var(--transition-icon);
}
#services .service:hover .icon {
    border: 0.6rem solid #ccdff5;
    background-color: rgb(var(--main-color));
}
#services .service:hover .icon svg {
    color: #fff;
}
#services .service .inner h3 {
    font-size: 1.4rem;
}
#services .service .inner p {
    color: #4e4e4e;
    font-size: 1rem;
}
#fun-facts.bg-style {
    background-image: url("../img/counters-bg.jpg");
}
#fun-facts.bg-style::after,
#testimonial.bg-style::after,
#contact.bg-style::after {
    background-color: rgba(var(--main-color), 0.7);
}
#fun-facts .fact .icon {
    width: 6rem;
    height: 6rem;
    border: 0.4rem solid rgba(255, 255, 255, 0.8);
}
#fun-facts .fact p:last-child {
    font-size: 1.2rem;
}
#portfolio .card .card-img-top {
    transition: 0.8s;
}
#portfolio .card:hover .card-img-top {
    transform: scale(1.3);
}
#portfolio .card .card-body .content h5 {
    font-size: 1.2rem;
}
#portfolio .card .card-body .content p {
    font-size: 0.7rem;
    color: #4e4e4e;
}
#portfolio .card .card-body .content p span {
    color: rgb(var(--main-color));
    font-weight: 500;
}
#portfolio .card .card-body a {
    width: 2.5rem;
    height: 2.5rem;
    border: .2rem solid rgb(var(--main-color));
}
#portfolio .card .card-body a svg {
    color: rgb(var(--main-color));
    font-size: 1.4rem;
}
#testimonial.bg-style,
#contact.bg-style {
    background-image: url("../img/overlay-bg.jpg");
}
.carousel-img {
    width: 9rem;
    height: 9rem;
}
.desc-text {
    max-width: 100%;
}
.carousel-indicators [data-bs-target] {
    width: 0.7rem;
    height: 0.7rem;
}
/* Start Media */

@media screen and (min-width: 768px) {
    .desc-text {
        width: 85%;
    }
}
@media screen and (min-width: 992px) {
    .desc-text {
        width: 65%;
    }
}
.card-category {
    top: -15%;
    background-color: rgb(var(--main-color));
}
.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}
.card a {
    transition: var(--transition-anchor);
}
.card a:hover {
    color: rgb(var(--main-color)) !important;
}
.card-category h6 {
    font-size: 0.7rem !important;
}
.card-footer img {
    width: 1.8rem;
}
#contact .contact-info svg {
    color: rgb(var(--main-color));
}
#contact button[type="submit"] {
    background-color: rgb(var(--main-color));
    transition: var(--transition-anchor);
}
#contact button[type="submit"]:hover {
    background-color: rgba(var(--main-color), 0.7);
    box-shadow: 0 0 0px 5px rgba(var(--main-color), 0.2);
}
#contact .social-media li {
    width: 3rem;
    height: 3rem;
    border: .25rem solid rgb(var(--main-color));
    transition: var(--transition-icon);
}
#contact .social-media li svg {
    font-size: 1.3rem;
    transition: var(--transition-icon);
}
#contact .social-media li:hover {
    border: .3rem solid #ccdff5;
    background-color: rgb(var(--main-color));
}
#contact .social-media li:hover svg {
    color: #fff;
}
footer {
    background-color: rgba(var(--main-color), 0.7);
    box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.473) inset;
}